<div id="<%= dom_id todo %>">
  <p>
    <strong>Name:</strong>
    <%= todo.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <%= link_to todo.project.name, project_path(todo.project) if todo.project %>
</div>
